/*RESET*/
* {
	padding: 0;
	margin: 0;
	border: 0px solid var(--darkest-color);
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
/*-----------------------*/

:root {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	--darkest-color: #333333;
	--accent-color: #7bb57c;
	--light-color: #ffffff;
	--subtext-color: #757171;
	--light-bg-color: #f7f5f6;
	--input-bg-color: #353535;
}
body {
	color: var(--darkest-color);
}
.box-content {
	max-width: 1200px;
	min-width: 290px;
	margin: auto;
}
/* Header */
.header {
	display: block;
	align-content: flex-start;
	position: relative;
	width: 100%;
	min-height: 760px;
	background: url("../img/bg_header.png") left no-repeat;
	background-size: cover;
	z-index: 10;
}
.top-info-block {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	padding: 4px 0;
	color: var(--light-color);
	background: var(--accent-color);
}
.info-conteiner {
	display: flex;
	justify-content: flex-end;
	min-width: 290px;
	width: 100%;
	height: 100%;
	padding: 0 16px;
}
.clock-conteiner {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	min-width: 290px;
	justify-content: flex-end;
	padding: 0 20px 0 10px;
}
.clock-conteiner p {
	display: block;
	align-items: stretch;
	width: 100px;
	padding: 0 10px 0 0;
	margin: auto 0;
	text-align: right;
}
.clock {
	display: flex;
	width: 100px;
	padding: 6px;
	border: 1px solid var(--light-color);
	border-radius: 5px;
	justify-content: center;
	margin: auto 0;
}
.currency {
	display: flex;
	flex-direction: row;
	min-width: 260px;
	justify-content: flex-end;
	border-left: 1px solid var(--light-color);
}
.currency label {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	max-width: 100%;
	height: 100%;
}
.currency p {
	display: flex;
	align-items: stretch;
	width: 100%;
	margin: auto 0;
	text-align: right;
}
.currency-input {
	display: flex;
	text-align: center;
	font-size: 12px;
	width: 60px;
	font-weight: 600;
	border-radius: 5px;
	margin: 0px 10px;
	padding: 6px;
}
.convert-currency {
	display: flex;
	font-size: 12px;
	padding: 6px 12px;
	font-weight: 500;
	border: 2px solid var(--light-color);
	border-radius: 5px;
	text-transform: uppercase;
	color: var(--light-color);
	background: none;
}
.convert-currency:hover {
	color: var(--light-color);
	border: 2px solid var(--input-bg-color);
	background: var(--input-bg-color);
	transition: all 0.4s ease;
}
.navigation {
	min-width: 290px;
	padding: 30px 16px;
}
.container-fluid {
	padding: 0;
}
.burger-menu {
	display: block;
	font-size: 24px;
	text-decoration: none;
	color: var(--accent-color);
	padding: 4px;
	border: 2px solid var(--accent-color);
	border-radius: 5px;
	text-align: center;
	width: 40px;
}
.burger-menu:hover {
	color: var(--light--color);
	border: 2px solid var(--darkest-color);
	background-color: var(--darkest-color);
	transition: all 0.4s ease;
}
.logo img {
	display: block;
	width: 104px;
	height: 32px;
}
.p-4 {
	padding: 0 !important;
}
@media (min-width: 480px) {
	.navigation {
		width: auto;
		justify-content: space-between;
		padding: 30px 16px;
		margin: auto;
	}
}
@media (min-width: 980px) {
	.navigation {
		min-width: 980px;
	}
	.nav {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
	}
}
@media (min-width: 1200px) {
	.navigation {
		padding: 30px 0px;
	}
	.header {
		height: auto;
		max-height: 864px;
	}
	.info-conteiner {
		padding: 0;
	}
}
.nav-link {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
	color: var(--darkest-color);
	font-size: 15px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
}
.nav-link:hover {
	color: var(--accent-color) !important;
	transition: color 0.2s ease;
	text-decoration: none;
}
.navbar-nav {
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar-toggler {
	padding: 0.45rem 0.75rem;
	border: 1px solid var(--accent-color);
}
.navbar-toggler:hover {
	background: var(--accent-color);
	border: 1px solid var(--accent-color);
}
.navbar-light {
	color: var(--darkest-color);
}
.navbar-light:hover {
	color: var(--light-color);
}
.shop-now {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	min-width: 110px;
	text-align: center;
	padding: 16px 0;
	border: 2px solid var(--accent-color);
	border-radius: 5px;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--darkest-color);
	overflow: hidden;
	transition: 1s all ease;
}
.shop-now:hover {
	background: var(--accent-color);
	color: var(--light-color);
	transition: all 0.2s ease;
}
.text-header {
	display: flex;
	position: relative;
	width: auto;
	max-width: 1200px;
	height: 662px;
	margin: auto;
	flex-direction: column;
	justify-content: center;
	padding: 0 16px;
}
.text-intro {
	display: block;
	width: 100%;
	max-width: 800px;
	font-size: 58px;
	font-weight: 700;
	line-height: 1.1;
	color: var(--darkest-color);
}
.color-txt {
	color: var(--accent-color);
}
.sub-text {
	font-size: 18px;
	font-weight: 400;
	margin: 50px 0 0 0;
}
#btn__animation__width {
	width: 260px;
	height: 62px;
	margin: 60px 0 0 0;
}
.btn-big-header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 62px;
	background: var(--accent-color);
	border-radius: 5px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--light-color);
}
.btn-big-header:hover {
	background: var(--darkest-color);
	color: var(--light-color);
	transition: all 0.5s ease;
}
@media (min-width: 720px) {
	.text-header {
		padding: 0 16px;
	}
}
@media (min-width: 980px) {
	.text-header {
		padding: 0 16px;
	}
	.text-intro {
		font-size: 84px;
		width: auto;
	}
}
@media (min-width: 1200px) {
	.text-header {
		padding: 0;
	}
}
/* Main */
/* BLOCK product-post */
.product-post {
	display: flex;
	position: relative;
	flex-direction: column;
	min-width: 290px;
	justify-content: space-between;
	align-items: center;
	padding: 80px 16px;
}
.product-post-card {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0 0 40px 0;
}
.product-post-card img {
	display: block;
	width: 100%;
}
.product-post-card h2 {
	display: block;
	font-weight: 500;
	font-size: 22px;
	line-height: 1.1em;
	padding: 20px 0;
}
.product-post-card b {
	color: var(--accent-color);
}
.product-post-card a {
	display: block;
	font-size: 12px;
	font-weight: 600;
	color: var(--darkest-color);
	text-decoration: none;
	text-transform: uppercase;
}
.product-post-card a:hover {
	color: var(--darkest-color);
	text-decoration: underline;
}
@media (min-width: 720px) {
	.product-post {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		padding: 100px 16px;
	}
	.product-post-card {
		padding: 0 16px;
	}
}
@media (min-width: 1200px) {
	.product-post {
		max-width: 1200px;
	}
	.product-post-card {
		width: auto;
		padding: 0 16px;
	}
}
/* BLOCK top-ollections */
.top-ollections {
	display: block;
	background: url(../img/bg_grid.png);
	width: auto;
}
.top-ollections-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 50px;
	font-weight: 700;
	line-height: 56px;
	padding: 140px 0;
	text-align: center;
}
.top-ollections-content b {
	color: var(--accent-color);
}
@media (min-width: 720px) {
	.top-ollections-content {
		font-size: 70px;
		line-height: 76px;
		padding: 160px 0;
	}
}
@media (min-width: 980px) {
	.top-ollections-content {
		font-size: 84px;
		line-height: 92px;
	}
}
/* BLOCK best-selling-products */
.best-selling-products {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	margin: 50px auto 0 auto;
	padding: 0 16px 90px 16px;
}
.best-selling-products span {
	display: block;
	position: relative;
	width: auto;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.2em;
	text-align: center;
}
.best-selling-products p {
	display: block;
	width: auto;
	font-size: 18px;
	text-align: center;
	line-height: 1.5em;
	margin: 30px 0 0 0;
}
.box-selling-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1200px;
	min-width: 272px;
	margin: auto;
}
.best-selling-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}
.best-selling-card img {
	display: block;
	padding: 0px;
	max-width: 100%;
}
.best-selling-card h2 {
	display: block;
	font-size: 18px;
	font-weight: 500;
	margin: 24px 0 0 0;
}
.best-selling-card p {
	display: block;
	font-size: 18px;
	font-weight: 700;
	color: var(--accent-color);
	margin: 16px 0 24px 0;
}
.selling-btn {
	display: flex;
	width: 100px;
	height: 44px;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	font-size: 11px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background: var(--accent-color);
	color: var(--light-color);
}
.selling-btn:hover {
	color: var(--light-color);
	background: var(--darkest-color);
	transition: all 0.6s ease;
}
@media (min-width: 480px) {
	.box-selling-card {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.best-selling-card {
		max-width: 230px;
		margin: 50px 16px;
	}
}
@media (min-width: 720px) {
}
@media (min-width: 980px) {
	.best-selling-card {
		max-width: 270px;
	}
}
@media (min-width: 1200px) {
	.best-selling-card {
		max-width: 350px;
	}
}
/* BLOCK spring-2020-collection*/
.spring-2020-collection {
	display: block;
	min-width: 290px;
	height: auto;
	background: url(../img/bg_preview_banner.png) no-repeat;
	background-size: cover;
	padding: 100px 16px;
}
.collection-text {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: start;
	/* padding: 0 16px; */
}
.collection-text h3 {
	display: block;
	font-size: 58px;
	font-weight: 700;
	line-height: 1.1em;
}
.collection-text b {
	color: var(--accent-color);
}
.collection-text p {
	display: block;
	font-size: 18px;
	line-height: 1.4em;
	margin-top: 35px;
}
.btn-our-faves {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	width: 154px;
	height: 54px;
	background: var(--accent-color);
	border-radius: 5px;
	font-size: 14px;
	font-weight: 700;
	color: var(--light-color);
	text-transform: uppercase;
}
.btn-our-faves:hover {
	background: var(--darkest-color);
	color: var(--light-color);
	transition: background 0.5s ease-in;
}
@media (min-width: 720px) {
	.spring-2020-collection {
		background-size: cover;
		background-attachment: fixed;
		padding: 120px 16px;
	}
	.collection-text h3 {
		font-size: 84px;
		max-width: 800px;
	}
	.collection-text p {
		max-width: 650px;
	}
}
@media (min-width: 1200px) {
	.spring-2020-collection {
		padding: 180px 16px;
	}
}
/* BLOCK banner-promo */
.banner-promo {
	display: grid;
	height: auto;
	min-width: 290px;
	max-width: 720px;
	grid-template-rows: 1fr 1fr;
	grid-row-gap: 50px;
	justify-items: stretch;
	align-items: center;
	padding: 80px 16px;
}
.banner-bring-brightness,
.banner-black-white {
	display: flex;
	flex-direction: column;
	width: auto;
	padding: 40px 24px;
}
.banner-bring-brightness {
	font-size: 14px;
	color: #2c2c2c;
	font-weight: 500;
	line-height: 19px;
	background: url(../img/bring-brightness.png) no-repeat;
	background-size: cover;
}
.banner-bring-brightness span {
	font-size: 22px;
	font-weight: 500;
	line-height: 29px;
	color: var(--darkest-color);
	margin: 24px 0;
}
.sub-bring-brightness {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: var(--subtext-color);
	margin: 0 0 40px 0;
	max-width: 500px;
}
.banner-black-white {
	background: url(../img/black-white.png) no-repeat;
	font-size: 14px;
	color: var(--subtext-color);
	line-height: 19px;
	background-size: cover;
}
.banner-black-white span {
	font-size: 22px;
	font-weight: 500;
	line-height: 29px;
	color: var(--light-color);
	margin: 24px 0;
}
.sub-black-white {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: var(--light-color);
	margin: 0 0 40px 0;
	max-width: 500px;
}
.banner-promo a {
	display: flex;
	width: 100px;
	height: 44px;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	background: var(--accent-color);
	color: var(--light-color);
}
.banner-bring-brightness a:hover {
	background: var(--darkest-color);
	transition: all 0.6s ease;
}
.banner-black-white a:hover {
	color: var(--darkest-color);
	background: var(--light-color);
	transition: all 0.6s ease;
}
@media (min-width: 720px) {
	.banner-promo {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: none;
		grid-column-gap: 30px;
		align-content: stretch;
		min-height: 320px;
		max-width: 1200px;
		padding: 100px 16px;
	}
	.banner-bring-brightness,
	.banner-black-white {
		max-width: 800px;
		padding: 40px;
	}
	.sub-black-white {
		max-width: 400px;
	}
	.sub-bring-brightness {
		max-width: 400px;
	}
	.banner-black-white span {
		max-width: 400px;
	}
	.banner-bring-brightness span {
		max-width: 400px;
	}
}
@media (min-width: 1200px) {
	.banner-promo {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: none;
		grid-column-gap: 30px;
		align-content: stretch;
		min-height: 320px;
		max-width: 1200px;
		padding: 100px 0px;
	}
}
/* BLOCK our-fave-finds */
.our-fave-finds {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 290px;
	width: auto;
	padding: 40px 16px;
}
.tabs-finds {
	padding: 0 0 0 0;
}
.tabs-finds h2 {
	display: block;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}
.tabs-finds p {
	display: block;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	line-height: 1.3em;
	padding: 18px 0;
}
.tabs-finds a {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	color: var(--darkest-color);
	padding: 0 10px;
	width: auto;
}
.tabs {
	display: flex;
	flex-direction: row;
	width: auto;
	justify-content: center;
}
.armchairs-conteiner {
	display: grid;
	height: auto;
	min-width: 290px;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-row-gap: 50px;
	align-content: start;
	margin: 20px 0 0 0;
}
.armchairs-tab {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.armchairs-tab img {
	display: block;
	width: 100%;
}
.armchairs-tab span {
	display: block;
	font-weight: 118px;
	line-height: 24px;
	font-weight: 500;
	padding: 20px 0 0 0;
}
.armchairs-tab p {
	display: block;
	font-size: 18px;
	font-weight: 700;
	color: var(--accent-color);
	margin: 16px 0 24px 0;
}
.btn-tab {
	display: flex;
	width: 100px;
	height: 44px;
	font-size: 11px;
	font-weight: 700;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--accent-color);
	border-radius: 5px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	background: none;
	color: var(--subtext-color);
}
.btn-tab:hover {
	background: var(--accent-color);
	color: var(--light-color);
	transition: all 0.6s ease;
}
@media (min-width: 480px) {
	.armchairs-conteiner {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-column-gap: 50px;
	}
}
@media (min-width: 980px) {
	.armchairs-conteiner {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: none;
		grid-column-gap: 20px;
		max-width: 1200px;
	}
}
@media (min-width: 980px) {
	.our-fave-finds {
		padding: 40px 30px;
	}
}
@media (min-width: 1200px) {
	.our-fave-finds {
		padding: 40px 0px;
	}
}

/* BLOCK  partners-slider*/
.partners-slider {
	padding: 50px 0;
}
.partners-slider img {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-width: 150px;
}
.slider {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.slider__container {
	overflow: hidden;
}
.slider__wrapper {
	overflow: hidden;
}
.slider__items {
	display: flex;
	justify-content: center;
	align-content: center;
	transition: transform 0.5s ease;
}
.slider_disable-transition {
	transition: none;
}
.slider__item {
	flex: 100%;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
	user-select: none;
}
.btn-left,
.btn-rigth {
	display: none;
}
/*slider btn left and right*/
@media (min-width: 480px) {
	.btn-left,
	.btn-rigth {
		display: flex;
		padding: 0 16px;
	}
	.slider__control {
		display: flex;
		flex-direction: row;
		align-self: center;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		color: var(--light-color);
		text-align: center;
		border-radius: 5px;
		background: var(--accent-color);
	}
	.slider__control_hide {
		display: none;
	}
	.slider__control[data-slide="prev"] {
		left: 16px;
	}
	.slider__control[data-slide="next"] {
		right: 16px;
	}
	.slider__control:hover,
	.slider__control:focus {
		color: var(--light-color);
		text-decoration: none;
		outline: 0;
		background: var(--darkest-color);
	}
	.slider__control::before {
		content: "";
		display: inline-block;
		width: 20px;
		height: 20px;
		background: transparent no-repeat center center;
		background-size: 100% 100%;
	}
	.slider__control[data-slide="prev"]::before {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
	}
	.slider__control[data-slide="next"]::before {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
	}
}
@media (min-width: 720px) {
	.slider__control {
		width: 40px;
		height: 40px;
	}
	.slider__item {
		display: flex;
		align-items: center;
		flex: 0 0 20%;
		max-width: 100%;
	}
}
@media (min-width: 1200px) {
	.btn-left,
	.btn-rigth {
		padding: 0;
	}
}
.slider__indicators {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 15;
	display: flex;
	justify-content: center;
	padding-left: 0;
	margin-right: 15%;
	margin-left: 15%;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
}
.slider__indicators li {
	box-sizing: content-box;
	flex: 0 1 auto;
	width: 30px;
	height: 5px;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.5);
	background-clip: padding-box;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}
.slider__indicators li.active {
	background-color: rgba(255, 255, 255, 0.9);
}

/* BLOCK articles-block */
.articles-block {
	width: 100%;
	background: var(--light-bg-color);
	padding: 80px 16px;
}
.articles-conteiner {
	display: grid;
	height: auto;
	width: 100%;
	min-width: 290px;
	grid-template-rows: 1fr 1fr;
	grid-row-gap: 30px;
	justify-items: stretch;
	align-items: center;
}
.articles-post {
	display: grid;
	grid-row: 1fr 1fr;
	justify-content: center;
	background: var(--light-color);
}
.articles-info {
	display: flex;
	flex-direction: column;
	padding: 40px;
}
.articles-img img {
	width: 100%;
	height: 100%;
}
.articles-info p {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.1em;
	color: var(--subtext-color);
}
.articles-info h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--darkest-color);
}
.articles-info span {
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.05em;
	color: var(--subtext-color);
	padding: 20px 0;
}
@media (min-width: 880px) {
	.articles-post {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-self: stretch;
		width: 100%;
		height: 100%;
	}
	.articles-img img {
		width: 100%;
		height: 100%;
		max-height: 400px;
		object-fit: cover;
	}
}
@media (min-width: 1200px) {
	.articles-info,
	.articles-img {
		max-width: 600px;
	}
}
/* BLOCK about-us-block */
.about-us-block {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-gap: 30px;
	padding: 80px 16px 0 16px;
}
.tabs-block {
	padding: 30px;
	background: var(--light-bg-color);
}
.img-video {
	display: flex;
	width: 100%;
	height: 100%;
	background: url(../img/img-video-block.png);
	background-size: cover;
}
.img-video img {
	display: block;
	justify-content: center;
	width: 56px;
	height: 56px;
	margin: auto;
	border-radius: 50%;
}
.tabs-block p {
	font-size: 14px;
	color: var(--subtext-color);
}
.tabs-block h3 {
	display: flex;
	font-size: 30px;
	font-weight: 600;
	margin: 20px 0 30px 0;
}
.accordion-button {
	font-size: 18px;
	background: none;
	padding: 20px 0;
}
.accordion-button:not(.collapsed) {
	color: var(--darkest-color);
	background: none;
	box-shadow: none;
}
.accordion-item {
	padding: 10px 0;
	background: none;
	border-bottom: 1px solid var(--subtext-color);
}
.accordion-body {
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: var(--subtext-color);
	padding: 0 10px;
}
@media (min-width: 720px) {
	.about-us-block {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: none;
		grid-gap: 30px;
		padding: 80px 16px 0 16px;
	}
}
@media (min-width: 1200px) {
	.about-us-block {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: none;
		grid-gap: 30px;
		padding: 80px 0 0 0;
	}
}
/* BLOCK our-blogs */
.our-blogs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 80px 16px;
	width: 100%;
}
.our-blogs h2 {
	display: block;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}
.our-blogs p {
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	line-height: 1.3em;
	padding: 18px 0;
}
.conteiner-post {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: none;
	gap: 30px;
	justify-content: cenetr;
	align-content: center;
	width: 100%;
	min-width: 290px;
	padding: 0;
}
.blog-post {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.blog-post img {
	display: flex;
	width: 100%;
	object-fit: cover;
}
.date-post {
	display: block;
	font-size: 14px;
	font-weight: 500px;
	line-height: 19px;
	padding: 20px 0;
}
.blog-post h4 {
	font-size: 22px;
	font-weight: 500px;
}
.blog-post p {
	display: block;
	text-align: left;
	font-size: 16px;
	color: var(--subtext-color);
	padding: 0;
}
.post-author {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
}
.post-author img {
	border-radius: 50%;
	margin-right: 16px;
	width: 32px;
	height: 32px;
}
.post-author p {
	display: flex;
	align-items: center;
	font-size: 14px;
	height: 100%;
	margin: 0;
}
@media (min-width: 980px) {
	.conteiner-post {
		display: grid;
		grid-template-rows: none;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 30px;
		padding: 0;
	}
}
@media (min-width: 1200px) {
	.our-blogs {
		padding: 80px 0;
	}
	.conteiner-post {
		padding: 0;
	}
}
/* BLOCK advantages */
.advantages-back {
	background: var(--light-bg-color);
}
.our-advantages {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: none;
	align-items: flex-start;
	grid-row-gap: 30px;
	padding: 80px 16px;
}
.one-advantages {
	display: flex;
	flex-direction: column;
}
.one-advantages img {
	width: 50px;
}
.one-advantages span {
	display: block;
	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
	padding: 20px 0 0 0;
}
.one-advantages p {
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 20px 0 0 0;
}
@media (min-width: 720px) {
	.our-advantages {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 30px;
		padding: 80px 16px;
	}
}
@media (min-width: 980px) {
	.our-advantages {
		display: grid;
		grid-template-rows: none;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-column-gap: 30px;
		padding: 80px 16px;
	}
}
@media (min-width: 1200px) {
	.our-advantages {
		padding: 80px 0;
	}
}
/* BLOCK contacts-block */
.contacts-block {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: none;
	justify-content: start;
	padding: 80px 0;
}
.contacts-info {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	padding: 40px 16px 0 16px;
}
.contacts-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
	height: 100%;
	padding: 40px;
	margin: 0 16px;
	background: var(--light-bg-color);
}
.contacts-form label {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}
.contacts-form input {
	display: block;
	width: 100%;
	margin-top: 24px;
	min-height: 40px;
	border-radius: 5px;
	padding: 20px 30px;
	font-size: 12px;
}
.contacts-form input[type="submit"] {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 30px 0 0 0;
	padding: 24px 0;
	color: var(--light-color);
	background-color: var(--accent-color);
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
.contacts-form input[type="submit"]:hover {
	background: var(--darkest-color);
	color: var(--light-color);
	transition: all 0.3s ease;
}
.contacts-form textarea {
	display: block;
	width: 100%;
	margin-top: 24px;
	min-height: 150px;
	border-radius: 5px;
	padding: 20px 30px;
	font-size: 12px;
}
.contacts-info h3 {
	font-size: 30px;
	font-weight: 600;
}
.contacts-info p {
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
}
.box-contacts-info span b {
	font-size: 22px;
	font-weight: 500;
	color: var(--darkest-color);
}
.box-contacts-info span {
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: var(--subtext-color);
	padding: 10px 0 0 0;
}
.contacts-info img {
	display: grid;
	max-width: 300px;
}
.box-map {
	display: flex;
	min-height: 340px;
	padding: 20px 0 0 0;
}

@media (min-width: 480px) {
	.contacts-block {
		display: grid;
		grid-template-rows: none;
		grid-template-columns: 1fr 1fr;
		justify-content: start;
		padding: 80px 0;
	}
}
/* Footer */
footer {
	display: block;
	width: 100%;
	height: auto;
	background: var(--darkest-color);
	color: var(--light-color);
	padding: 80px 0 20px 0;
}
.footer-conteiner {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: stretch;
	text-align: center;
	padding: 0 16px;
	flex-wrap: wrap;
	width: 100%;
}
.content-footer {
	display: flex;
	flex-direction: column;
}
.logo-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 14px;
	font-weight: 400;
}
.logo-block img {
	width: 110px;
}
.logo-block p {
	padding: 10px 0 20px 0;
	line-height: 22px;
}
.links-main a {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
	font-weight: 400;
	color: var(--light-color);
	padding: 10px 0;
}
.links-main a:hover {
	color: var(--accent-color);
}
.follow-us {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
	padding: 30px 0;
	color: var(--subtext-color);
}
.social-link {
	display: flex;
	flex-direction: row;
}
.social-link a {
	display: flex;
	width: 32px;
	height: 32px;
	margin: 4px;
}
.facebook-ic {
	background: url(../img/facebook.svg);
}
.facebook-ic:hover {
	background: url(../img/facebook-hover.svg);
	transition: 0.3s ease;
}
.youtube-ic {
	background: url(../img/youtube.svg);
}
.youtube-ic:hover {
	background: url(../img/youtube-hover.svg);
	transition: 0.3s ease;
}
.instagram-ic {
	background: url(../img/instagram.svg);
}
.instagram-ic:hover {
	background: url(../img/instagram-hover.svg);
	transition: 0.3s ease;
}
.form-footer {
	display: flex;
	width: 100%;
	align-items: stretch;
	flex-direction: column;
	font-size: 16px;
	font-weight: 400;
}
.form-footer label {
	width: 100%;
}
.form-footer input {
	display: block;
	text-align: center;
	width: 100%;
	background-color: var(--input-bg-color);
	min-height: 40px;
	border-radius: 5px;
	padding: 20px 30px;
	font-size: 12px;
	color: var(--light-color);
}
.form-footer input[type="submit"] {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 10px 0 0 0;
	padding: 24px 0;
	color: var(--light-color);
	background-color: var(--accent-color);
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
.form-footer input[type="submit"]:hover {
	background: var(--light-color);
	color: var(--darkest-color);
	transition: all 0.3s ease;
}
.created {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 30px 0 0 0;
	padding: 20px 0 0 0;
	border-top: 0.3px solid var(--subtext-color);
}
@media (min-width: 720px) {
	.content-footer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.logo-block {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
	}
	.links-main a {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 5px 0;
	}
}
